html,
body,
figure,
div,
input,
textarea,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul{
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style: none;
}

figcaption {
  display: none; /*Esconde a legenda da imagem*/
}
span{
    cursor: none;
}

input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
  
}
input[type=number] { 
 -moz-appearance: textfield;
 appearance: textfield;
}