body{
    background-image: url(../img/Backgorund.png);
    background-size: cover;
    margin-bottom: 200px;
    overflow-x: hidden;
}
.nav{
    display: flex;
    width: 99.2vw;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 1px 5px rgb(0 0 0 / 40%);
    border-bottom: 1px solid #000;
    background-color: #000000d1;
}
.conteiner{
    width: 1200px;
    height: 60px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    
}
.conteiner .ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
}

.conteiner .ul .logo{
    height: 40px;
    width: 250px;
    margin-bottom: 5px;
}

.conteiner .ul .li{
    padding: 0px 30px;
    text-align: center;
}
.conteiner .ul .po{
    margin-bottom: 5px;
}
.conteiner .ul .li2{
    margin-bottom: 32px;
    padding: 0px 0px;
    margin-left: 0px;
    width: 100px;
}
.conteiner .ul .tamanho{
    padding-left: 20px;
    margin-bottom: 20px;
    padding: 0px 20px;
    width: 300px;
    display: flex;
    transform: matrix(1, 0, 0, 1, 10, 0);
}
.conteiner .ul .li3{
    margin-bottom: 18px;
    padding: 0px 0px;
    width: 100px;
}
.conteiner .ul .tamanho2{
    width: 300px;
    padding-left: 20px;
    display: flex;
    transform: matrix(1, 0, 0, 1, 10, 0);

}
.conteiner .ul .tamanho .ul2,.conteiner .ul .tamanho2 .ul3{
    list-style-type: "▸";
    color: rgba(255, 255, 255, 0.6);
}
.conteiner .ul .tamanho .ul2 li{
    margin-right: 30px;
    margin-bottom: 15px;
    text-align: left;
}
.conteiner .ul .tamanho2 .ul3 li{
    margin-right: 30px;
    margin-bottom: 15px;
    text-align: left;
}
.conteiner .ul .li a, .li2  a, .li2 summary, .li3 a, .li3 summary{
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
.conteiner .ul  .li2 .details1{
    margin-top: 29px;
    text-align: center;
}
.conteiner .ul  .li3 .details2{
    width: 80px;
    margin-top: 17px;
    text-align: center;
}
.conteiner .details1[open], .conteiner .details2[open]{
    overflow: hidden;
    height: 20px;
}
.conteiner .details1[open]:hover, .conteiner .details2[open]:hover{
    overflow: visible;
}
.details1[open]:hover  .tamanho, .conteiner .details2[open]:hover .tamanho2{
    background-color: rgba(0, 0, 0, 0.813);
}
.conteiner .details1[open] .ul2{
    padding-top: 29px;
    display: inline-block;
}
.conteiner .details2[open] .ul3{
    padding-top: 29px;
    display: inline-block;
}

/* Parte do hover para mudar de cor*/
    .conteiner .ul .li2 summary:hover{
        color: #0096c7;
        cursor: pointer;
    }
    .conteiner .ul .li2 summary::marker{
        color: #000000d1;
    }
    .conteiner .ul .li2 .details1 .tamanho .ul2 li:hover{
        color: #0096c7;
    }
    .conteiner .ul .li2 .details1 .tamanho .ul2 a:hover{
        color: #0096c7;
    }
    
    .conteiner .ul .li3 summary:hover{
        color: #0096c7;
        cursor: pointer;
    }
    .conteiner .ul .li3 summary::marker{
        color: #000000d1;
    }
    .conteiner .ul .li3 .details2 .tamanho2 .ul3 li:hover{
        color: #0096c7;
    }
    .conteiner .ul .li3 .details2 .tamanho2 .ul3 a:hover{
        color: #0096c7;
    }

    .conteiner .ul .li a:hover{
        color: #0096c7;
    }

/* Pesquisa */
    .botao img{
        height: 20px;
        width: 20px;
    }
    .botao{
        background-color: rgba(0, 0, 0, 0);
        border: 0.5px solid rgba(255, 255, 255, 0.6);
        border-left: 0px;
        height: 30px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    .buscar{
        margin: 0 auto;
        margin-left: 60px;
        height: 30px;
        background-color: rgba(0, 0, 0, 0);
        color: rgba(255, 255, 255, 0.6);
        border: 0.5px solid rgba(255, 255, 255, 0.6);
        border-right: 0px solid rgba(255, 255, 255, 0.6);
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        padding-left: 15px;
    }
    
    .buscar:hover,.buscar:focus, .buscar::selection{
        outline: none;
    }

    span{
        padding: 0px 10px 5px;
        font-size: 30px;
        color: rgba(255, 255, 255, 0.6);
        cursor: pointer;
    }

    .img{
        height: 25px;
        width: 25px;
    }

/* SubMenu */
    .tamanho-submenu{
        margin-left: 5.2%;
        width: 90vw;
        height: 60px;
        background-color: #000000a0;
        overflow: auto;
        box-shadow: 0px 2px 3px rgba(101, 101, 101, 0.424);
    }
    .submenu .ul5{
        display: flex;
        justify-content: space-around;
        font-size: 18px;
        text-align: center;
    }
    .submenu .ul5 li{
        padding: 20px 17px 18px 16px;
        width: 59px;
    }
    .submenu .ul5 li:hover{
        cursor: pointer;
        background-color: #0096c7;
    }
    
    .submenu .ul5 li a{
        color: rgba(255, 255, 255, 0.6);
        text-align: center;
        font-weight: 400;
        text-decoration: none;
    }

    .submenu .ul5 li:hover a{
        color: white;
    }

/* main */
    .conteiner-main{
        margin-left: 5.2%;
        width: 90vw;
        height: 100%;
        display: flex;
        padding-top: 20px;
        background-color: #000000a0;
        display: inline-block;
    }


    .conteiner-main .h2{
        color: rgb(255, 255, 255);
        margin-left: 30px;
        height: 20px;
        font-weight: bold;
        font-size: 18px;
        text-transform: uppercase;
    }

    .conteiner-main .border{
        border-bottom: 3px solid #0096c7;
        width: 75px;
        margin-top: 20px;
        margin-left: 101px;
    }


    .conteiner-main .lancamento ul{
        margin-left: 10px;
        display: flex;
        width: 89.5vw;
        overflow: auto;
        padding: 0px 2.5%;
        transition: 0.8s;
    }

    .conteiner-main .lancamento ul::-webkit-scrollbar-track {
        display: none;
    }
   
    .conteiner-main .lancamento ul::-webkit-scrollbar {
        width: 6px;
        background: #F4F4F4;
        display: none;
    }
    .conteiner-main .lancamento ul::-webkit-scrollbar-thumb {
        background: #dad7d7;
    }
    
    .conteiner-main .lancamento ul li{
        margin-right: 55px;
    }

    .conteiner-main .lancamento figure{
        height: 259px; 
        width: 185px;
        overflow: hidden;
        border-radius: 8px;
        margin: 0 auto;
        margin-top: 30px;
    }

    .conteiner-main .lancamento a{
        text-decoration: none;
    }
    .conteiner-main .lancamento p{
        color: rgb(255, 255, 255);
        margin-top: 10px;
        margin-bottom: 10px;
        width: 185px;
        height: 18px;
        text-overflow: ellipsis;
        overflow: hidden;
        text-align: center;
        white-space: nowrap;
    }
    
    /* parte do hover do lançamentos */
    .conteiner-main .lancamento li:hover figure img{
        filter: brightness(40%);
    }
    
    .conteiner-main .lancamento li:hover p{
        color: #0096c7;
    }

/* Adicionado Recentes */
    .conteiner-main .h2dif{
        margin-top: 60px;
    }
    .conteiner-main .border2{
        margin-left: 180px;
        width: 132px;
    }

    .conteiner-main .lancamento .ul{
        margin-top: 50px;
        display: flex;
        width: 90.4vw;
        margin-left: 6%;
        flex-wrap: wrap;
        overflow: auto;
    }


    .conteiner-main .lancamento .ul li{
        margin-right: 5%
    }
    
    .lancamento .ul li figure{
        width: 287px;
        height: 158px;
        border-radius: 8px;
        overflow: hidden;
    }
    .conteiner-main .lancamento .p2{
        width: 280px;
    }
    .conteiner-main .lancamento .p3{
        font-weight: 400;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.5);
    }
    .conteiner-main .lancamento .p3:hover{
        color: rgba(255, 255, 255, 0.5);
    }

/* Filmes adicionados */
    .conteiner-main .border3{
        margin-left: 113px;
        width: 115px;
    }

 /* Ultimos animes lançados  */
    .conteiner-main .border4{
        margin-left: 190px;
        width: 131px;
    }

/*  TOP 10 EPIS - SEMANAL */
    .conteiner-main .border5{
        margin-left: 146px;
        width: 105px;
    }

    .conteiner-main .lancamento .ul5{
        margin-bottom: 50px;
    }

/* footer */

    .conteiner-footer{
        width: 90vw;
        background-color: #000000a0;
        margin-left: 5.2%;
        height: 100%;
        display: inline-block;
    }
    .conteiner-footer .tamanho4{
        margin-top: 40px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 170px;
        padding-left: 120px;
        padding-right: 120px;
        box-shadow: 0px 2px 3px rgba(101, 101, 101, 0.424);
    }
    
    .conteiner-footer .footer{
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;
        width: 30vw;
        margin-right: 80px;
    }
    .conteiner-footer .footer .details12{
        display: flex;
        height: 90px;
        flex-wrap: wrap;
        width: 200px;
        margin-left: 20px;
    }
    .conteiner-footer .footer .details12 .ulfooter2{
        display: flex;
        margin-top: 10px;
        align-items: center;
        flex-direction: column;
        height: 60px;
        width: 200px;
        flex-wrap: wrap;
    }
    .conteiner-footer .footer .details12 .ulfooter{
        display: flex;
        margin-top: 10px;
        align-items: center;
        flex-direction: column;
        height: 120px;
        width: 200px;
        flex-wrap: wrap;
    }

    .conteiner-footer .footer .details12 summary{
        
        color: rgba(255, 255, 255, 0.5);
        text-align: center;
        cursor:default;
    }


    .conteiner-footer .footer .details12 summary::marker{
        background-color: #000000a0;
        content: "";
    }

    .conteiner-footer .footer .details12 li{
        height: 20px;
        width: 90px;
        background-color: #00000068;
        margin: 5px 5px;
        text-align: center;
        border-radius: 6px;
    }

    .conteiner-footer .footer .details12 li a{
        color: #0096c7;
        font-size: 14px;
        text-decoration: none;
    }

    /* sistema de hover */
    .conteiner-footer .footer .details12 li:hover{
        background-color: #3a393968;
    }

    /* outro lado do footer */
    .conteiner-footer .footer-logo img{
        height: 40px;
        width: 280px;
    }
    .conteiner-footer .footer-logo{
        margin: 0 auto;
        overflow: visible;
    }
    .conteiner-footer .footer-logo figcaption{
        color: rgba(255, 255, 255, 0.5);
        display: flex;
        width: 280px;
        text-align: center;
    }

/* Parte final */
    .conteiner-footer .tamanho5{
        display: flex;
        width: 100%;
        height: 60px;
        margin-top: 30px;
        box-shadow: 0px 2px 3px rgba(101, 101, 101, 0.424);
        justify-content: space-between;
        padding: 0px 20px;
    }
    .conteiner-footer .tamanho5 p{
        color: rgba(255, 255, 255, 0.5);
        font-size: 14px;
    }
    .conteiner-footer .tamanho5 button{
        height: 35px;
        width: 35px;
        border: none;
        font-size: 18px;
        background-color: #00000000;
        border-radius: 8px;
    }

    .conteiner-footer .tamanho5 button a{
        text-decoration: none;
        font-size: 18px;
        color: #fff;
    }

    .conteiner-footer .tamanho5 button:hover a{
        color: #0096c7;
    }


/* A parte do botao para lado e pro outro */
.lado {
    width: 40px;
    height: 20px;
    margin-left: 80vw;
    color: rgba(255, 255, 255, 0.665);
    background-color: #00000000;
    border: none;
}

.lado:hover{
    cursor: pointer;
    color: #0096c7;
}

.lado1{
    margin-left: 0px;
    width: 40px;
    height: 20px;
    color: rgba(255, 255, 255, 0.665);
    background-color: #00000000;
    border: none;
}

.lado1:hover{
    cursor: pointer;
    color: #0096c7;
}

@media screen and (max-width: 1350px) {
    .conteiner-main .lancamento .ul li{
        margin-right: 1%;
    }
  }